body {
  background-color: #EEE9E9;
}
label {
  display: inline-block;
  padding-top: 5px;
  vertical-align: middle;
  margin: 3px 0;
}
a, label {
  cursor: pointer;
}
nav {
  padding-bottom: 40px;
}
.inline {
  display: inline;
}
.pop {
  margin: 0;
  padding: 0;
  float: left;
  clear: right;
}
.pop li {
  margin: 0;
  padding: 0;
  float: left;
  list-style-type: none;
}
.after_floats {
  clear: left;
}
